* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6); 
}


.card {

    background: linear-gradient(135deg, #1c1c1c, #0a0a0a); 
    width: 350px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    animation: show 1s ease;
    
    position: relative; 
    z-index: 1; 
}


.card::before {
    content: "";
    position: absolute;
    top: -4px; left: -4px; right: -4px; bottom: -4px;
    

    background: linear-gradient(45deg, #ffffff, #333333, #888888, #111111, #ffffff);
    background-size: 400%;
    
    border-radius: 24px; 
    z-index: -1; 
    animation: glowing-border 15s linear infinite;
    filter: blur(1.5px); 
}

@keyframes glowing-border {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.card h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.card p {
    color: #aaaaaa;
    margin-bottom: 25px;
}


.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    
    
    padding: 4px; 
  
    background: linear-gradient(45deg, #ffffff, #777777, #ffffff, #222222, #ffffff);
    background-size: 400%;
    animation: glowing-avatar 6s linear infinite; /* Двигается чуть быстрее, чем рамка карточки */
}

@keyframes glowing-avatar {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    background: #5865F2;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    transition: 0.3s;
}

.buttons a:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #5865F2;
}

.buttons i {
    position: absolute;
    left: 20px;
    font-size: 24px;
    color: white;
}
